@import '~antd/es/style/themes/default.less';
@import (css) url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

html,
body,
#root {
  height: 100%;
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

.ant-btn {
  display: flex;
  flex-direction: row-reverse;
}

.ant-btn.ant-btn-primary > span {
  letter-spacing: 0.025rem;
  margin-right: 3rem;
}

.ant-btn.ant-btn-link > span {
  letter-spacing: 0.025rem;
  margin-right: 0.5rem;
}

.ant-pro-global-header {
  height: 64px;
}

header.ant-layout-header {
  height: 64px !important;
}

aside.ant-layout-sider {
  padding-top: 64px !important;
}


canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
